<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/add.css">
    <title>Agregar Juego</title>
</head>
<body>
    <div class="form-container">
        <h1>Agregar Juego</h1>
        <form method="POST">
            <label for="title">Título:</label>
            <input type="text" name="title" required>
            
            <label for="genre">Género:</label>
            <input type="text" name="genre" required>
            
            <label for="release_year">Año de Lanzamiento:</label>
            <input type="number" name="release_year" required>
            
            <input type="submit" value="Agregar" class="submit-button">
        </form>
        <a href="{{ url_for('index') }}" class="back-link">Volver a la lista</a>
    </div>
</body>
</html>

